{% extends 'bsct/plain/list.html' %}
{% load bscttags %}

{% block BSCT_LIST_ITEMS_ACTIONS %}
<div class="btn-group">
<a
    class = 'btn btn-default btn-sm'
    href  = '{% url 'manual_run' object.id %}'
    title = "New run"
>
    <span class="glyphicon glyphicon-play-circle"></span>
    Run
</a>
<a
    class = 'btn btn-default btn-sm'
    href  = '{% url 'project_runs_list' object.id %}'
    title = "Past runs"
>
    Past runs
</a>
<a
    class = 'btn btn-default btn-sm'
    href  = '{{ object.get_absolute_url }}'
>
    Details
</a>
<a
    class = 'btn btn-default btn-sm'
    href  = '{{ object.get_update_url }}'
    title = "Update"
>
    <span class="glyphicon glyphicon-pencil"></span>
</a>
<a
    class = 'btn btn-default btn-sm'
    href  = '{{ object.get_delete_url }}'
    title = "Delete"
>
    <span class="glyphicon glyphicon-trash"></span>
</a>
</div>
{% endblock %}
