{% extends 'bsct/plain/list.html' %}
{% load bscttags %}

{% block BSCT_LIST_ITEMS_ACTIONS %}
<div class="btn-group">
<a
    class = 'btn btn-default btn-sm'
    href  = '{% url 'manual_run' object.id %}'
    title = "New run"
>
    <span class="glyphicon glyphicon-play-circle"></span>
    Run
</a>
<a
    class = 'btn btn-default btn-sm'
    href  = '{% url 'project_runs_list' object.id %}'
    title = "Past runs"
>
    Past runs
</a>
<a
    class = 'btn btn-default btn-sm'
    href  = '{{ object.get_absolute_url }}'
>
    Details
</a>
<a
    class = 'btn btn-default btn-sm'
    href  = '{{ object.get_update_url }}'
    title = "Update"
>
    <span class="glyphicon glyphicon-pencil"></span>
</a>
<a
    class = 'btn btn-default btn-sm'
    href  = '{{ object.get_delete_url }}'
    title = "Delete"
>
    <span class="glyphicon glyphicon-trash"></span>
</a>
</div>
{% endblock %}

{% block BSCT_LIST_CREATE_LINK %}
<div class="btn-group pull-right">
{% if object_list.model.get_create_url %}
    <a
        class = 'btn btn-default'
        href  = '{{object_list.model.get_create_url }}'
        title = 'Create a new project from a clone URL'
    >
        <span class="glyphicon glyphicon-plus"></span>
        New
    </a>
{% endif %}
{% if user.id %}
    <a
        class = 'btn btn-default'
        href  = '{% url "project_import" %}'
        title = 'Import a project from GitHub'
    >
        <span class="glyphicon glyphicon-download-alt"></span>
        Import
    </a>
{% endif %}
</div>
{% endblock %}
